<IfModule mod_negotiation.c>
    Options +FollowSymlinks
    Options -MultiViews
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{HTTP_HOST} !^www\. [NC]
	RewriteRule ^(.*)$ http://www.garoadmusic.com/$1 [R=301,L]
	
    #RewriteCond %{HTTPS} off
    #RewriteRule ^(.*)$ https://www.garoadmusic.com/$1 [R=301,L]

    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L]
</IfModule>

<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

<Files .env>
    Order allow,deny
    Deny from all
</Files>